@import '../mainPage/style.scss';
@import '../mainPage/_media.scss';

.discountSection {
	@include flex(center, center, row);
	width: 100%;
	min-height: calc(100vh - 14em);
	padding: 2em 0;

	@include media('<=tablet') {
		flex-direction: column;
		height: auto;
		padding: 4em 0;

		.discountForm {
			min-width: auto;
			width: 70vw;
		}

		.couponsForm {
			margin: 4em 0 0 0;
		}
	}
}

.discountForm {
	@include form(#f58b54);
	border: 2px solid rgba(255, 255, 255, 0.38);
	min-width: 500px;
	height: 80%;
	padding: 2em;

	h2 {
		font-size: 2em;
		font-weight: bold;
		margin: 1em;
	}

	div {
		@include flex(space-around, center, row);
		width: 100%;
		// background-color: blue;
		margin: 1em;

		label {
			width: 40%;
		}

		input {
			@include input();
			width: 50%;
		}
	}

	button {
		@include button(#ca7145);
		margin: 2em;
		&:hover {
			background-color: #f58b54;
		}
		&:active {
			transform: scale(1.1);
		}
	}

	#finalPrice {
		@include input;
		border-radius: 0;
		border: none;
		border-bottom: 2px solid black;
		font-size: 1.5em;
		box-shadow: none;
		margin-bottom: 1em;
	}

	#errorMessage {
		@include errorMessage(#4f0e0e);
	}
}

.couponsForm {
	margin-left: 4em;

	ul {
		@include flex(center, center, column);
		list-style: none;
	}
}
