/**
*
* Testing
*
**/
@-webkit-keyframes errorMessageAnimation {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes errorMessageAnimation {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Fira Sans', sans-serif;
  background-color: #51dacf;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 6em;
  background-color: #0c4762;
}

.header__logo {
  color: #f4eeee;
  border-radius: 0.4em;
  padding: 0.3em;
  font-weight: 400;
  cursor: pointer;
  -webkit-transition: padding 0.4s;
  transition: padding 0.4s;
}

.header__logo span {
  color: #51dacf;
  font-weight: 800;
  font-style: italic;
}

.header__logo:hover {
  padding: 0.5em;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  list-style: none;
}

.header__nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: 100px;
  width: 8vw;
  color: #f4eeee;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header__nav ul li:hover {
  background-color: #51dacf;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px -15px 10px 0px black;
          box-shadow: 0px -15px 10px 0px black;
}

.header__nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 100%;
  color: #f4eeee;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__nav ul li a:hover {
  color: #0c4762;
}

.header__nav__phone {
  display: none;
  width: 3em;
  height: 3em;
  color: #f4eeee;
  border-radius: 15px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header__nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    left: -100%;
    top: 6em;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(11.5px);
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .header__nav ul li {
    width: 100vw;
    height: 4em;
  }
  .header__nav ul li:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header__nav .active {
    left: 0;
  }
  .header__nav__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.welcomeSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: calc(100vh - 10em);
  text-align: center;
}

.welcomeSection h1 {
  font-size: 4em;
}

.welcomeSection h3 {
  font-weight: 500;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 4em;
  color: #0c4762;
}

.footer a {
  text-decoration: none;
  color: #0c4762;
  font-weight: bold;
  -webkit-transition: font-size 0.4s;
  transition: font-size 0.4s;
}

.footer a:hover {
  color: black;
  font-size: 1.1em;
}

.footer img {
  width: 2em;
  margin-right: 1em;
}

.footer__platziText span#js {
  color: yellow;
  font-weight: bold;
}

.footer__platziText span#challenge {
  font-weight: bold;
}

.footer p {
  margin-right: 0.3em;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/**
*
* Testing
*
**/
.discountSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  min-height: calc(100vh - 14em);
  padding: 2em 0;
}

@media (max-width: 768px) {
  .discountSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding: 4em 0;
  }
  .discountSection .discountForm {
    min-width: auto;
    width: 70vw;
  }
  .discountSection .couponsForm {
    margin: 4em 0 0 0;
  }
}

.discountForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 28%;
  height: 60%;
  text-align: center;
  padding: 1em;
  background-color: #f58b54;
  border-radius: 10%;
  -webkit-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.38);
  min-width: 500px;
  height: 80%;
  padding: 2em;
}

.discountForm h2 {
  font-size: 2em;
  font-weight: bold;
  margin: 1em;
}

.discountForm div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin: 1em;
}

.discountForm div label {
  width: 40%;
}

.discountForm div input {
  background-color: transparent;
  border: none;
  width: 80%;
  outline: none;
  border: 2px solid black;
  border-radius: 2em;
  text-align: center;
  font-size: 1em;
  padding: 0.3em;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  width: 50%;
}

.discountForm button {
  width: 48%;
  height: 2.5em;
  border-radius: 2em;
  background-color: #ca7145;
  border: 2px solid #ca7145;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  margin: 2em;
}

.discountForm button:hover {
  background-color: #f58b54;
}

.discountForm button:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.discountForm #finalPrice {
  background-color: transparent;
  border: none;
  width: 80%;
  outline: none;
  border: 2px solid black;
  border-radius: 2em;
  text-align: center;
  font-size: 1em;
  padding: 0.3em;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  border-radius: 0;
  border: none;
  border-bottom: 2px solid black;
  font-size: 1.5em;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 1em;
}

.discountForm #errorMessage {
  font-weight: bold;
  color: #4f0e0e;
  -webkit-animation: errorMessageAnimation 2s infinite ease alternate;
          animation: errorMessageAnimation 2s infinite ease alternate;
}

.couponsForm {
  margin-left: 4em;
}

.couponsForm ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}
/*# sourceMappingURL=discounts.css.map */