@import '../mainPage/style.scss';

.figuresSection {
	@include flex(space-around, center, row);
	height: calc(100vh - 10em);
}

// SQUARE

.squareForm {
	@include form(lightcoral);
	h2 {
		margin: 1em;
	}

	label {
		font-style: italic;
		margin-bottom: 1em;
	}

	#squareSide {
		@include input;
	}

	.buttons {
		@include flex(space-between, center, row);
		margin: 1em 0 2em 0;
		width: 80%;
		button {
			@include button(rgb(197, 104, 104));
		}
		:hover {
			background-color: lightcoral;
		}
		:active {
			transform: scale(1.1);
		}
	}

	#squareResult {
		@include input;
		border-radius: 0;
		border: none;
		border-bottom: 2px solid black;
		font-size: 1.5em;
		box-shadow: none;
	}
}

// TRIANGLE

.triangleForm {
	@include form(#b5eaea);
	justify-content: space-around;

	h3 {
		font-weight: 400;
	}

	.labels {
		@include flex(center, center, row);
		width: 80%;
		label {
			min-width: 80px;
			width: 100px;
		}
		input {
			@include input;
			box-shadow: none;
			box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
		}
	}

	.buttons {
		@include flex(space-between, center, row);
		width: 90%;
		button {
			@include button(#98c4c4);
		}
		:hover {
			background-color: #b5eaea;
		}
		:active {
			transform: scale(1.1);
		}
	}

	#triangleResult {
		@include input;
		border-radius: 0;
		border: none;
		border-bottom: 2px solid black;
		font-size: 1.5em;
		box-shadow: none;
	}
}

// CIRCLE

.circleForm {
	@include form(#ffe194);
	h2 {
		margin: 1em;
	}

	label {
		font-style: italic;
		margin-bottom: 1em;
	}

	#circleRadius {
		@include input;
	}

	.buttons {
		@include flex(space-between, center, row);
		margin: 1em 0 2em 0;
		width: 80%;
		button {
			@include button(#d6bd7d);
		}
		:hover {
			background-color: #ffe194;
		}
		:active {
			transform: scale(1.1);
		}
	}

	#circleResult {
		@include input;
		border-radius: 0;
		border: none;
		border-bottom: 2px solid black;
		font-size: 1.5em;
		box-shadow: none;
	}
}

@media only screen and (max-width: 768px) {
	.figuresSection {
		@include flex(center, space-around, column);
		height: auto;
	}

	.squareForm {
		width: 80%;
		max-width: 25em;
		height: 30em;
		margin: 1em;
		margin-top: 2em;
	}

	.triangleForm {
		width: 80%;
		max-width: 25em;
		height: 30em;
		margin: 1em;
	}

	.circleForm {
		width: 80%;
		max-width: 25em;
		height: 30em;
		margin: 1em;
	}
}
